<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SpaceX</title>
		<link rel="shortcut icon" href="images/logos/site_logo.jpg" />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	</img>
	<body>
		<div class="header_mobile">
			<a href="#"><img src="images/logos/spacex_logo.png" title="SpaceX Logo" height="20px" width="auto"></a>
			<a href="#" style="float: right; padding: 10px 30px 0 0;"><img src="images/icons/three_bar_icon.png" height="12px" width="20px"></a>
		</div>
		<div id="area_login" class="area_login">
			<form action="home" method="post" accept-charset="utf-8">
				<input type="text" name="email" placeholder="e-mail">
				<input type="password" name="senha" placeholder="senha">
				<input type="submit" id="login_button" name=botao_login value="Login"/>
				<input type="submit" id="singup_button" name=botao_cadastrar value="Cadastrar"/>
			</form>
			<p id="error_msg" class="error_msg"></p>
		</div>
		<div class="header_desktop">
			<a href="#"><img src="images/logos/spacex_logo.png" title="SpaceX Logo" height="25px" width="auto"></a>
			<a href="#" class="hover-underline-animation desktop">FALCON 9</a>
			<a href="#" class="hover-underline-animation desktop">FALCON HEAVY</a>
			<a href="#" class="hover-underline-animation desktop">DRAGON</a>
			<a href="#" class="hover-underline-animation desktop">STARSHIP</a>
			<a href="#" class="hover-underline-animation desktop" style="min-width: 130px">HUMAN SPACEFLIGHT</a>
			<a href="#" class="hover-underline-animation desktop">RIDESHARE</a>
			<a href="#" class="hover-underline-animation desktop">STARLINK</a>
			<a href="#" style="float: right; padding: 45px 30px 0 0;"><img src="images/icons/three_bar_icon.png" height="12px" width="20px"></a>
			<a href="#" class="hover-underline-animation desktop" style="float: right;">SHOP</a>
		</div>
		<div class="background" style="background-image: url('images/backgrounds/background1.jpg')">
			<div class="background-content">
				<p>Space-X + T-Mobile<br>Update</p>
				<div class="btn"><a href="#">Learn More</a></div>
			</div>
			<div class="array"></div>
		</div>
		<div class="background" style="background-image: url('images/backgrounds/background2.jpg')">
			<div class="background-content">
				<p style="font-size: 20px; font-weight: 500;">Upcoming Launch</p>
				<p>Stalink Mission</p>
				<div><a href="#">Watch</a></div>
			</div>
			<div class="array"></div>
		</div>
		<div class="background" style="background-image: url('images/backgrounds/background3.jpg')">
			<div class="background-content">
				<p style="font-size: 20px; font-weight: 500;">Recent Launch</p>
				<p>KPLO Mission</p>
				<div><a href="#">Rewatch</a></div>
			</div>
			<div class="array"></div>
		</div>
		<div class="background" style="background-image: url('images/backgrounds/background4.jpg')">
			<div class="background-content">
				<p>Starship Update</p>
				<div><a href="#">Learn More</a></div>
			</div>
			<div class="array"></div>
		</div>
		<div class="background" style="background-image: url('images/backgrounds/background5.jpg')">
			<div class="background-content">
				<p>Starship to land<br>NASA astronauts on<br>the moon</p>
				<div><a href="#">Learn More</a></div>
			</div>
			<div class="array"></div>
		</div>
		<div class="footer_desktop">
			<span>Spacex © 2022</span>
			<a href="#">Twitter</a>
			<a href="#">Youtube</a>
			<a href="#">Instagram</a>
			<a href="#">Flickr</a>
			<a href="#">Linkedin</a>
			<a href="#">Privacy policy</a>
			<a href="#">Suppliers</a>
		</div>
		<div class="footer_mobile">
			<span>Spacex © 2022<br></span>
			<a href="#">Twitter</a>
			<a href="#">Youtube</a>
			<a href="#">Instagram</a>
			<a href="#">Flickr</a>
			<a href="#">Linkedin</a>
			<a href="#">Privacy policy</a>
			<a href="#">Suppliers</a>
		</div>
	</body>
</html>